<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

__Exercise 1 (Celcius to Farenheit) â˜»__

You are provided with the following list of temperatures in Celsius. Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures.

In [2]:
import numpy as np
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]
array_celsius = np.array(temperatures_celsius)

temperatures_fahrenheit = array_celsius + 32

for index, temp in enumerate(temperatures_celsius):
    fahrenheit = temperatures_fahrenheit[index]
    print(f'{temp} Celsius is {fahrenheit} in Fahrenheit!')

0 Celsius is 32 in Fahrenheit!
5 Celsius is 37 in Fahrenheit!
10 Celsius is 42 in Fahrenheit!
15 Celsius is 47 in Fahrenheit!
20 Celsius is 52 in Fahrenheit!
25 Celsius is 57 in Fahrenheit!
30 Celsius is 62 in Fahrenheit!
35 Celsius is 67 in Fahrenheit!
40 Celsius is 72 in Fahrenheit!
45 Celsius is 77 in Fahrenheit!
50 Celsius is 82 in Fahrenheit!

__Exercise 2 (Multiplication table)__
You can put a loop within a loop to do doubly loopy stuff. Here is an example:

In [13]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

Task: Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using nested for loops. The output should be formatted as shown below:
```python
1 : 1   2   3   4   5   
2 : 2   4   6   8   10  
3 : 3   6   9   12  15  
4 : 4   8   12  16  20  
5 : 5   10  15  20  25  
```

In [5]:
for num in [1,2,3,4,5]:
    for multiplier in [1,2,3,4,5]:
        print(f'{num*multiplier}', end='\t')
    print('\n')

#/t adds a space in betwwen values and /n returns to a new line
#Hmmm but missing the first column

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

In [15]:
#let's add another print function...
for num in [1,2,3,4,5]:
    print(num,":", end='\t')
    for multiplier in [1,2,3,4,5]:
        print(f'{num*multiplier}', end='\t')
    print('\n')

1 :	1	2	3	4	5

2 :	2	4	6	8	10

3 :	3	6	9	12	15

4 :	4	8	12	16	20

5 :	5	10	15	20	25